@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  animation: sky linear 16s infinite;
}

section {
  position: absolute;
  width: 1000px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -500px;
}

section .sky {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section .sky .sun {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: -150px;
  transform-origin: center 500px;
  animation: sun linear 16s infinite;
}

section .sky .cloud1 {
  position: absolute;
  top: -30px;
  left: 10%;
  animation: flow linear 8s infinite;
}

section .sky .cloud2 {
  position: absolute;
  top: 20px;
  left: 0;
  animation: flow linear 16s infinite;
}

section .town .circle {
  position: absolute;
  bottom: 104px;
  left: 50%;
  margin-left: -165px;
  opacity: 0.7;
  animation: rotation linear 16s infinite;
}

section .town .night,
section .town .day {
  position: absolute;
  bottom: 0;
  left: 40px;
}

section .town .day {
  animation: day linear 16s infinite;
}

section .people {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* 밤에는 사람들이 안보이게 설정 */
  animation: day linear 16s infinite;
}

section .people .man,
section .people .family {
  position: absolute;
  left: 0;
  bottom: 0;
}

section .people .man {
  animation: flow linear 5s infinite;
}

section .people .family {
  animation: flow linear 16s infinite;
}

section .word {
  position: absolute;
  font: 80px/1px "Poiret One";
  color: #fff;
  bottom: -60px;
  animation: morning linear 16s infinite;
}

section .word .morning {
  opacity: 0;
}

section .word .afternoon {
  /*animation: afternoon linear 16s infinite;*/
}

/* 애니메이션 적용 */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sun {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  25% {
    transform: rotate(-30deg);
    opacity: 1;
  }
  50% {
    transform: rotate(30deg);
    opacity: 1;
  }
  75% {
    transform: rotate(90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

@keyframes sky {
  0% {
    background: #b08fcc;
  }
  25% {
    background: #b1e1e2;
  }
  50% {
    background: #fcd2e2;
  }
  75% {
    background: #636888;
  }
  100% {
    background: #b08fcc;
  }
}

@keyframes day {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flow {
  0% {
    left: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}

@keyframes morning {
  0% {
    opacity: 1;
  }
  12% {
    opacity: 1;
    left: 20%;
  }
  25% {
    opacity: 1;
    left: 30%;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}

@keyframes afternoon {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
